.labels {
    color: #000000;
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    /*** font-weight: bold; ***/
    text-align: center;
    width: 120px;
    padding: 3px;
    border: 1px solid black;
    white-space: nowrap;
}

.no-label {
    display:none;
}

.boton-cartografia {
    background-color:#abdff0;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    cursor:pointer;
}