.toast_message {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #60DC5C;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1000;
    right: 10px;
    top: 70px;
    font-size: 17px;
}

.show {
    visibility: visible;
}

.animation {
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

/*@-webkit-keyframes fadein {*/
    /*from {bottom: 0; opacity: 0;}*/
    /*to {bottom: 30px; opacity: 1;}*/
/*}*/

/*@keyframes fadein {*/
    /*from {bottom: 0; opacity: 0;}*/
    /*to {bottom: 30px; opacity: 1;}*/
/*}*/

/*@-webkit-keyframes fadeout {*/
    /*from {bottom: 30px; opacity: 1;}*/
    /*to {bottom: 0; opacity: 0;}*/
/*}*/

/*@keyframes fadeout {*/
    /*from {bottom: 30px; opacity: 1;}*/
    /*to {bottom: 0; opacity: 0;}*/
/*}*/
